.display_flex{
    display: flex;
}
.background-color_darkgreen{
    background-color: darkgreen;
}
.display_block{
    display: block;
}
.width_100px{
    width: 100px;
}
.padding_top-30px{
padding-top: 30px;
}
.padding_bottom-30px{
    padding-bottom: 30px;
}
.width_167px{
    width: 167px;
}